{% extends 'base.html.twig' %}

{% block body %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" style="text-align:right">Input</th>
      <th scope="col" style="text-align:right">Output</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">0</th>
      <td style="text-align:right">{{ in0 }}</td>
      <td style="text-align:right">{{ out0 }}</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td style="text-align:right">{{ in1 }}</td>
      <td style="text-align:right">{{ out1 }}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td style="text-align:right">{{ in2 }}</td>
      <td style="text-align:right">{{ out2 }}</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td style="text-align:right">{{ in3 }}</td>
      <td style="text-align:right">{{ out3 }}</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td style="text-align:right">{{ in4 }}</td>
      <td style="text-align:right">{{ out4 }}</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td style="text-align:right">{{ in5 }}</td>
      <td style="text-align:right">{{ out5 }}</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td style="text-align:right">{{ in6 }}</td>
      <td style="text-align:right">{{ out6 }}</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td style="text-align:right">{{ in7 }}</td>
      <td style="text-align:right">{{ out7 }}</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td style="text-align:right">{{ in8 }}</td>
      <td style="text-align:right">{{ out8 }}</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td style="text-align:right">{{ in9 }}</td>
      <td style="text-align:right">{{ out9 }}</td>
    </tr>
  </tbody>
</table>

<p>Restart programu - link "Qpony" w menu głównym.</p>
{% endblock %}
